
.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title{
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  color: var(--text-primary);
}

.list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  float: left;
}